.text-xs {
  font-size: 12px;
  line-height: 16px;
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-md {
  font-size: 16px;
  line-height: 24px;
}

.text-lg {
  font-size: 18px;
  line-height: 28px;
}

.text-xl {
  font-size: 20px;
  line-height: 28px;
}

.text-2xl {
  font-size: 24px;
  line-height: 32px;
}

.text-3xl {
  font-size: 30px;
  line-height: 36px;
}

.text-4xl {
  font-size: 36px;
  line-height: 40px;
}

.text-5xl {
  font-size: 48px;
}

.text-6xl {
  font-size: 60px;
}

.text-7xl {
  font-size: 72px;
}

.text-8xl {
  font-size: 96px;
}

.text-9xl {
  font-size: 128px;
}

/* font weidth */

.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

/* font weidght ends here */

body,
p {
  font-family: "Raleway", sans-serif !important;
}

@font-face {
  font-family: neueplak;
  src: url(/fonts/NeuePlak-SemiBold.ttf);
}

.text-yellow {
  color: #ed8b34;
}

.text-white {
  color: white;
}

.text-grey {
  color: #676767;
}
.text-lightgrey {
  color: #5e5e5e94;
}

.bg-yellow {
  background-color: #ed8b34;
}

.border-transparent {
  border: 2px solid transparent;
}

.border-yellow {
  border: 2px solid #ed8b34;
}

h1,
h2 {
  font-family: neueplak;
}

/* navabr */

.li-link:hover {
  color: #ed8b34 !important;
}

.login-button {
  border: 2px solid #ed8b34;
  color: #ed8b34;
  font-weight: 600;
}

.sigup-button {
  background-color: #ed8b34;
  border: 2px solid #ed8b34;
  font-weight: 600;
}

.nav-border {
  border: 1px solid #ed8b34;
  box-shadow: 0px 4px 10px 0px #00000026;

  @media (max-width: 992px) {
    width: 200px;
    box-shadow: none;
    border: none;
  }
}

/* hero */

.hero-h1 {
  @media (max-width: 1200px) {
    font-size: 50px;
  }

  @media (max-width: 576px) {
    font-size: 35px;
    font-weight: 700;
  }
}

/* form */

.cursor-pointer {
  cursor: pointer;

  value {
    cursor: pointer;
  }
}

.email-form {
  width: 500px;
  height: 60px;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.select-form {
  width: 250px;
  height: 60px;

  @media (max-width: 576px) {
    width: 100%;
    margin-block: 1rem;
  }
}

.search-button {
  height: 60px;
  background-color: #ed8b34 !important;
  border: transparent !important;
  color: white !important;
  font-weight: 600 !important;
}

/* hosting */

.hosting-wrapper {
  background-image: url(/image/hosting-background-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* tokenomics section */
.tokenomics-wrapper {
  p {
    font-size: 20px !important;
    @media (max-width: 576px) {
      font-size: 12px !important;
    }
  }
}

.tokenomics-h1 {
  @media (max-width: 576px) {
    font-size: 40px;
  }
}

/* features section */

.features-box {
  min-height: 400px !important;

  @media (max-width: 992px) {
    min-height: 200px !important;
  }
}

.tp-button:hover {
  background-color: #ed8b34 !important;
  color: white;
}

.tp-button-two:hover {
  color: #ed8b34 !important;
  background-color: transparent !important;
  border: 2px solid #ed8b34 !important ;
}

/* accordian section */

.accordion-button::after {
  background-image: url(/image/minus.png) !important;
}

.accordion-button.collapsed::after {
  background-image: url(/image/plus.png) !important;
}

.accordion-shadow:not(.collapsed) {
  background-color: transparent !important;
}

.accordion-item {
  border: 4px solid rgba(54, 54, 54, 0.027) !important;
}

.accordion-orange {
  box-shadow: 0 0.25rem 0.5rem #ed8a345e !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: 0 0 0.5rem #ed8a345e !important;
}
